$theme-colors: (
    "homeDark": #626d71,
    "homeLight": #eae9ee,
    "homeHighlight": #00a0d4,
    "homeWhiteFont": #fdfbfc,
);

* {
    font-family: 'Hind', sans-serif;
}

.button-round {
    border-radius: 50px !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';