$theme-colors: (
    "gray": #626d71,
    "darkGray": #4a5255,
    "lightGray": #eae9ee,
    "blueAccent": #00a0d4,
    "white": #fdfbfc,
);

* {
    font-family: 'Hind', sans-serif;
}

.button-round {
    border-radius: 50px !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import CoreUI
@import "~@coreui/coreui/scss/coreui";